@model IEnumerable<Infraestructure.Models.PRODUCTO>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO_VENTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD_MINIMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_PRODUCTO.DESCRIPCION)
        </td>
         <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
    </tr>
}