@model IEnumerable<Infraestructure.Models.PRODUCTO>

@{
    ViewBag.Title = "Listado de Productos";
}

<h2 class="text-info">Productos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>

<div class="row">
    <div class="col-lg-8">
        <div id="ajaxLoader" class="center-block" alt="Cargando ..." style="height:100px;width:100px; display:none">
            <img src="~/Images/loading.gif" />
        </div>
        <h2 class="text-danger">Lista de Productos</h2>
        <table class="table">
            <thead>
                <tr class="text-danger">
                    @*DisplayNameFor: Mostrar el nombre del atributo.
                        DisplayFor: Mostrar el valor de ese atributo *@
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DESCRIPCION)
                    </th>
                    <th>
                        @* m en MINUSCULA: Caracteristicas del modelo, atributos. *@
                        @Html.DisplayNameFor(model => model.PRECIO_VENTA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CANTIDAD_MINIMA)
                    </th>
                    @* Esto viene desde el RepositoryLibro *@
                    <th>
                        @Html.DisplayNameFor(model => model.TIPO_PRODUCTO)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody id="resultado">
                @* M en MAYUSCULA: Son los valores. Es la lista de los registros que obtuvo de la BD.*@
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PRECIO_VENTA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CANTIDAD_MINIMA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TIPO_PRODUCTO.DESCRIPCION)
                        </td>

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="card my-4">
            <h5 class="card-header">Buscar Libro por nombre</h5>
            @using (Ajax.BeginForm("buscarLibroxNombre", "Producto", new AjaxOptions
            {
                UpdateTargetId = "resultado",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                LoadingElementId = "ajaxLoader"
            }))
            {
                <div class="card-body">
                    <div class="input-group">
                        @Html.TextBox("filtro", "", new { @class = "form-control", @placeholder = "Nombre Producto" })

                        <button type="submit" class="btn btn-default">Buscar</button>

                    </div>
                </div>
            }

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}