@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row py-md-3">
    <div class="col p4">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col p4">
        <h2>Formulario de contacto</h2>
        <hr />
        @* Este formulario se comunica con el servidor *@
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            //El "AntiForgeryToken" Para evitar que la pagina se caiga.
            //Proteger la aplicación contra falsificación de solicitudes.
            //Genera una entrada oculta con el token anti-falsificación, que se valida cuando se envía el formulario.
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("lblNombre", "Nombre Completo", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.TextBox("txtNombre", "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("lblGenero", "Genero", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        Masculino
                        @Html.RadioButton("rbGenero", "Masculino")
                        Femenino
                        @Html.RadioButton("rbGenero", "Femenino")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("lblMensaje", "Mensaje", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.TextArea("txtMensaje", "Mensaje de contacto", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            @Html.CheckBox("isActive", false)

                        </div>
                        <div class="col-md-10">
                            @Html.Label("lblCondiciones", "He leído y acepto la Política de Privacidad y el Aviso Legal", htmlAttributes: new { @class = "control-label" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>