@model Infraestructure.Models.USUARIO

@{
    ViewBag.Title = "Detalle";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>USUARIO</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.correo_electronico):</b> @Html.DisplayFor(model => model.correo_electronico)</div>
                        <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.Nombre):</b> @Html.DisplayFor(model => model.Nombre)</div>
                        <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.Apellido1):</b> @Html.DisplayFor(model => model.Apellido1)</div>
                        <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.Apellido2):</b> @Html.DisplayFor(model => model.Apellido2)</div>
                        <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.Activo):</b> @Html.DisplayFor(model => model.Activo)</div>
                        <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.ROL):</b> @Html.DisplayFor(model => model.ROL.DESCRIPCION)</div>
                     
                    </div>

                </div>
            </div>
        </div>







    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Regresar", "Index")
    </p>
</body>
</html>
