@model IEnumerable<Infraestructure.Models.USUARIO>

@{
    ViewBag.Title = "Mantenimiento Usuario";
}

@*esta variable esta en Web/Controllers/LibroController*@
<h2>@ViewBag.titulo</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.correo_electronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasenna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.correo_electronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasenna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
