<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_Menu")
    <main>
        <div class="container">
            @* RenderBody: Donde voy a meter el contenido *@
            @RenderBody()
        </div>
    </main>
    @* En cualquier parte puedo definir un Section.
        "false": Que aparezca a veces y en otras no. No requerida.
        Ver Views/Home/Index (abajo coloque que quiero que aparezca en esa pagina)*@
    @RenderSection("footer", false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")
    @RenderSection("scripts", required: false)

</body>
</html>
