@{ int cantidadLibros = Web.ViewModel.Carrito.Instancia.GetCountItems();}

<a href="@Url.Action("Index", "Orden")" class="nav-link">
    Orden <span class="badge badge-light">   @cantidadLibros</span>
</a>

@if (@ViewBag.NotiCarrito != null)
{
    <script>
            @Html.Raw(@ViewBag.NotiCarrito);
    </script>
}

